/* * {
    box-sizing: border-box;
} */

body {
    background: var(--bg-clr);
    font-size: 1rem;
    margin: 0;
}

.center-layout {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

img:hover {
    cursor: pointer;
    transition: scale 0.6s;
    scale: 1.05;
}