/* * {
    box-sizing: border-box;

} */

html {
    background: linear-gradient(to right, #8360c3, #e0936f, #2caa82);

}

body {
    font-size: 1rem;
    margin: 0;

}

h2 {
    text-align: center;
}