* {
    box-sizing: border-box;

}

html {}

body {
    background: linear-gradient(to right, #44489574, #d3a895, #44489574);
    font-size: 1rem;
    margin: 0;

}

.center-layout {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: #76d0b3;
    transition: background-color 0.6s;
}