.btn {
    font-size: 1.2em;
    min-width: 1.875em;

    border-radius: 1em;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--btn-hover-clr);
    scale: 1.1;
    transition: background-color 0.6s;
    transition: scale 0.3s;
}

.switch-btn {
    width: 30px;
}

.font-btn {
    width: 50px;
}

.color-btn {
    width: 60px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.fonts-lists {
    margin-top: 0;
    padding: 3px;
}

.download-btn {
    width: 50px;
}