.gallery {
    display: grid;
    grid-template-columns:
        20px minmax(auto, 900px) 20px;
    grid-template-areas:
        ". s ."
        ". g .";
}

.search-section {
    grid-area: s;
    gap: 10px;
    margin-bottom: 10px;
}

.input-search {
    /* flex-grow: 1; */
}

.search-meme {
    /* flex-grow: 1fr; */
}

.memes-gallery {
    grid-area: g;
    gap: 10px;
    flex-wrap: wrap;
}

img {
    width: 200px;
    border-radius: 2em;
}