header {
    /* margin-bottom: 1.8em; */
    display: flex;
    justify-content: space-between;


    background: linear-gradient(to right, #607cc3, #6f80e0, #612caa);
    margin-bottom: 0.8em;
}

h2 {
    margin-left: 20px;
}


.nav-bar {
    /* margin-right: 20px; */
    /* width: 400px; */
    /* justify-content: space-between; */
    align-items: center;

    font-size: 1.3em;
    color: whitesmoke;
}

.nav-btns {
    /* padding: 0 10px; */
    display: flex;
    justify-content: space-between;
}

.nv-btns {
    padding: 0 20px;
}