.meme-container {
    justify-content: center;
    gap: 1.2em;
}

/* .canvas-container {
    width: 40vw;
} */

.canvas {
    border: 2px solid lightslategrey;
    border-radius: 20px;
}

.editor {
    width: 300px;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;

    background-color: #607c8e87;
    border-radius: 20px;
}

.editor>* {
    margin: 5px 0;
    padding: 10px 0;
}

.txt-input {
    flex-shrink: 1;

    margin-top: 20px;
    width: 270px;
    border-radius: 15px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 9px white;
    background-color: rgb(61 163 200 / 32%);

    font-size: 1.2em;
    color: white;
}

.font-style {}