.meme {
    /* display: grid;
    width: 80vh;
    grid-template-columns: minmax(300px, 1fr) minmax(100px, 0.5fr);
    grid-template-rows: 1fr;
    grid-area:
        "canvas editor";
    gap: 10px; */
    gap: 10px;
    place-items: center;
    width: 80vh;

}

/* in media query */
/* flex-wrap: wrap; */